.login-container {
    margin: 5% auto;
    width: 33%;
    text-align: center;
    padding: 0.5rem 1rem;
    box-shadow: 0 5px 15px rgba(0,0,0,.35);
    border-radius: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 0.5rem;
}

.form label {
    margin: 0.5rem 0.5rem 0;
}

.form input {
    padding: 0.5rem;
    margin: 0.5rem;
}

.form .password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.form .password-container span {
    position: absolute;
    padding: 1rem;
    right: 0rem;
}

.form button {
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #1bd0a0;
    border: #1bd0a0;
    color: white;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.form button:hover{
    background-color: #FC7307;
}

.form .guest-login {
    background-color: white;
    border: 1px solid #1bd0a0;
    color: #1bd0a0;
}

.form .guest-login:hover {
    background-color: #FC7307;
    color: white;
    border: 1px solid #FC7307;
}

.signup-link {
    display: block;
    color: #FC7307;
    padding: 1rem;
}

/*
#1bd0a0;
#FC7307 
 */