.filters-content {
    color: black;
}

.filters-header {
    display: flex;
    flex-direction: row;
    gap: 50%;
    padding: 1rem;
    margin: auto;
    font-size: large;
}

.filters-price {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin: auto;
    font-size: medium;
    padding-bottom: 0.5em;
}

.filters-price p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.filters-price-range {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    font-weight: lighter;
    font-size: small;
}

.filters-clear-btn {
    width: 30%;
    background-color: #1bd0a0;
    border: #1bd0a0;
    padding: 5px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.filters-clear-btn:hover {
    background-color: #ff9824;
}

.range-slider {
    accent-color: #ff9824;
    border: #ff9824;
    cursor: pointer;
}

.filters-category,
.filters-rating {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin: auto;
    font-size: medium;
    padding-bottom: 0.5em;
    cursor: pointer;
}

.filters-category p,
.filters-rating p {
    margin-block-start: 1em;
    margin-block-end: 0.5em;
}

.category-checkbox,
.rating-radio {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    accent-color: #ff9824;
    cursor: pointer;
}

.accessiblity {
    cursor: pointer;
    font-size: medium;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 0.3rem;
}

.switch input {
    display: none;
}

.slider-orange {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FEAB6D;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-orange:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider-orange {
    background-color: #FC7307;
}

input:focus+.slider-orange {
    box-shadow: 0 0 1px #FC7307;
}

input:checked+.slider-orange:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider-orange.round {
    border-radius: 34px;
}

.slider-orange.round:before {
    border-radius: 50%;
}