.filters-content {
    color: black;
}

.filters-header {
    display: flex;
    flex-direction: row;
    gap: 50%;
    padding: 1rem;
    margin: auto;
    font-size: large;
}

.filters-price {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin: auto;
    font-size: medium;
    padding-bottom: 0.5em;
}

.filters-price p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.filters-price-range {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    font-weight: lighter;
    font-size: small;
}

.filters-clear-btn {
    width: 30%;
    background-color: #1bd0a0;
    border: #1bd0a0;
    padding: 5px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.filters-clear-btn:hover {
    background-color: #ff9824;
}

.range-slider {
    accent-color: #ff9824;
    border: #ff9824;
    cursor: pointer;
}

.filters-category, .filters-rating {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin: auto;
    font-size: medium;
    padding-bottom: 0.5em;
    cursor: pointer;
}

.filters-category p ,.filters-rating p {
    margin-block-start: 1em;
    margin-block-end: 0.5em;
}

.category-checkbox, .rating-radio {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    accent-color: #ff9824;
    cursor: pointer;
}

.accessiblity {
    cursor: pointer;
}